---
import BaseLayout from './BaseLayout.astro';
import Header from '@/components/layout/Header.astro';
import Footer from '@/components/layout/Footer.astro';
import MobileCta from '@/components/layout/MobileCta.astro';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<BaseLayout>
  <slot name="head" slot="head" />
  <Header />
  <main id="main-content" class={className}>
    <slot />
  </main>
  <Footer />
  <MobileCta />
</BaseLayout>
